@model IEnumerable<WebMVC.Models.BILL>
@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div id="page-wrapper">
   <br />
        <div class="row">
            Chào mừng đến với trang tra cứu dịch vụ viễn thông, nhập số điện thoại để tra cứu!

        </div>
    </div>
